/* General page css */
*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.center-content {
  text-align: center;
}

body {
    background-color: #3f3f3f;
}

h1 {
  font-size: 40px;
  color: #F5A623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-style: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #999;
  line-height: 22px;
  margin: 0;
}

h4 {
  font-style: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

span {
  padding: 5px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
}

.orange-text {
color: #F5AE23;
}

/* Header styling */
#header {
  width: 100%;
  height: 150px;
  float: right;
  padding: 10px 0;
  background: -webkit-linear-gradient(#2d2d2d, #3f3f3f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2d2d2d, #3f3f3f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2d2d2d, #3f3f3f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2d2d2d, #3f3f3f); /* Standard syntax */
  border-bottom: 1px solid #2a2a2a;
}

#topContacts li {
  display: inline;
}

hr {
  margin-bottom: 5px;
}

/* Menu styling */
#navbar {
  margin: 0;
}

/* Based on http://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* Section styling */
section {
  padding: 10px 0;
}

section a {
  color: #1199C3;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

section a.inline {
  display: inline;
}

section ul {
  list-style-type: circle;
  list-style-position: inside;
}

section p, li {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
}

section img.img-responsive {
  padding: 0px;
}

/* Map styling */
#mapContent {
  display: block;
  height: 400px;
  margin-left: 5%;
  margin-right: 5%;
}